 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home</title>
  </head>
  <body>
  {% include 'navbar.html' %}

  <h1>Books List</h1>

    {% if results %}
        {% include 'book_table.html' %}
    {% else %}
        <p>No books available.</p>
    {% endif %}
  <h2>Sort Inventory by books or by Authors</h2>
  <form action="{{ url_for('main.index') }}" method="POST">
  {{ form.hidden_tag() }}
      <p>
        {{ form.sorting_criteria.label }}<br>
        {{ form.sorting_criteria() }}
        {% for error in form.sorting_criteria.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
  <p>
        {{ form.sorting_direction.label }}<br>
        {{ form.sorting_direction() }}
        {% for error in form.sorting_direction.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>

  <p>
        {{ form.submit() }}
      </p>
  </form>

  </body>
</html>
