 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home</title>
  </head>
  <body>
  <h1>Books List</h1>

    {% if books %}
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication Year</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                {% for book, author in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ author.name }}</td>
                    <td>{{ book.publication_year }}</td>
                    <td>{{ book.isbn }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No books available.</p>
    {% endif %}

  </body>
</html>
